$primary-color: #5f0f40;
$secondary-color: #310e68;

.home-container {
  .header {
    padding: 20px;
    border-bottom: 2px solid $secondary-color;

    h2 {
      margin: 0;
      text-align: left;
    }
  }

  .raw-output{
    background: lightgray;
    border: 1px solid darkgray;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

    .input-box {
      display: flex;
      flex-direction: column;

      .label {
        text-align: left;
        font-size: 14px;
        padding-bottom: 5px;
        font-weight: 500;
      }
    }

    input {
      text-align: center;
      width: 300px;
      height: 40px;
      font-size: 18px;
      font-weight: bold;
      &::placeholder{
        font-weight: normal;
        font-size: 18px;
      }
    }

    button {
      width: 200px;
      height: 40px;
      margin-top: 20px;
      background: #5f0f40;
      color: white;
      border-radius: 10px;
      border: 1px solid #d9d9d9;
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .cards-container {
    margin: 20px;
    display: flex;
    column-gap: 20px;
    .card {
      width: 200px;
      height: 300px;
      background: #f0f0f06b;
      border: 2px solid #5f0f4069;
      border-radius: 10px;
      padding: 10px;
    }
  }
}
